*.iml

.cxx
.trae
.gradle
.kotlin
.DS_Store
.workbuddy
.superpowers
.externalNativeBuild

/.idea
/build
/app/build
/baselineprofile/build
/captures
/local.properties

jh.keystore
recollection
tools
Material Symbols
示例
Temporary Test Resources